ConsoleApp1/Web References/LajtitService/AutoComplete.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetOrderReceiptCommandResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="statusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOrderReceiptCommandResultResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetOrderReceiptCommands">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderReceiptCommandsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderReceiptCommandsResult" type="tns:ArrayOfReceiptCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceiptCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceiptCommand" nillable="true" type="tns:ReceiptCommand" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceiptCommand">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiptId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetInvoices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoicesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAttribute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttributeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttributeResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShopProducers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShopProducersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShopProducersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompaniesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShopCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="shopTypeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="shopCategoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShopCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShopCategoryResult" type="tns:ArrayOfListItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListItem" nillable="true" type="tns:ListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="true" name="Enabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="Selected" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSuppliersResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue" nillable="true" type="tns:CascadingDropDownNameValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="optionTitle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFamilies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFamiliesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFamiliesResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupsResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttributeGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttributeGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttributeGroupsResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttributes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttributesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttributesResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetOrderReceiptCommandResultSoapIn">
    <wsdl:part name="parameters" element="tns:SetOrderReceiptCommandResult" />
  </wsdl:message>
  <wsdl:message name="SetOrderReceiptCommandResultSoapOut">
    <wsdl:part name="parameters" element="tns:SetOrderReceiptCommandResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderReceiptCommandsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderReceiptCommands" />
  </wsdl:message>
  <wsdl:message name="GetOrderReceiptCommandsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderReceiptCommandsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoices" />
  </wsdl:message>
  <wsdl:message name="GetInvoicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttributeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttribute" />
  </wsdl:message>
  <wsdl:message name="GetAttributeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="GetShopProducersSoapIn">
    <wsdl:part name="parameters" element="tns:GetShopProducers" />
  </wsdl:message>
  <wsdl:message name="GetShopProducersSoapOut">
    <wsdl:part name="parameters" element="tns:GetShopProducersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="GetCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetShopCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetShopCategory" />
  </wsdl:message>
  <wsdl:message name="GetShopCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetShopCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:GetSuppliers" />
  </wsdl:message>
  <wsdl:message name="GetSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:GetSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="GetFamiliesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFamilies" />
  </wsdl:message>
  <wsdl:message name="GetFamiliesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFamiliesResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttributeGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttributeGroups" />
  </wsdl:message>
  <wsdl:message name="GetAttributeGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttributesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttributes" />
  </wsdl:message>
  <wsdl:message name="GetAttributesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttributesResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoCompleteSoap">
    <wsdl:operation name="SetOrderReceiptCommandResult">
      <wsdl:input message="tns:SetOrderReceiptCommandResultSoapIn" />
      <wsdl:output message="tns:SetOrderReceiptCommandResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderReceiptCommands">
      <wsdl:input message="tns:GetOrderReceiptCommandsSoapIn" />
      <wsdl:output message="tns:GetOrderReceiptCommandsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <wsdl:input message="tns:GetInvoicesSoapIn" />
      <wsdl:output message="tns:GetInvoicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttribute">
      <wsdl:input message="tns:GetAttributeSoapIn" />
      <wsdl:output message="tns:GetAttributeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShopProducers">
      <wsdl:input message="tns:GetShopProducersSoapIn" />
      <wsdl:output message="tns:GetShopProducersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <wsdl:input message="tns:GetCompaniesSoapIn" />
      <wsdl:output message="tns:GetCompaniesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input message="tns:GetProductsSoapIn" />
      <wsdl:output message="tns:GetProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShopCategory">
      <wsdl:input message="tns:GetShopCategorySoapIn" />
      <wsdl:output message="tns:GetShopCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <wsdl:input message="tns:GetSuppliersSoapIn" />
      <wsdl:output message="tns:GetSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFamilies">
      <wsdl:input message="tns:GetFamiliesSoapIn" />
      <wsdl:output message="tns:GetFamiliesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input message="tns:GetGroupsSoapIn" />
      <wsdl:output message="tns:GetGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroups">
      <wsdl:input message="tns:GetAttributeGroupsSoapIn" />
      <wsdl:output message="tns:GetAttributeGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributes">
      <wsdl:input message="tns:GetAttributesSoapIn" />
      <wsdl:output message="tns:GetAttributesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoCompleteSoap" type="tns:AutoCompleteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetOrderReceiptCommandResult">
      <soap:operation soapAction="http://tempuri.org/SetOrderReceiptCommandResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderReceiptCommands">
      <soap:operation soapAction="http://tempuri.org/GetOrderReceiptCommands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="http://tempuri.org/GetInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttribute">
      <soap:operation soapAction="http://tempuri.org/GetAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopProducers">
      <soap:operation soapAction="http://tempuri.org/GetShopProducers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <soap:operation soapAction="http://tempuri.org/GetCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopCategory">
      <soap:operation soapAction="http://tempuri.org/GetShopCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <soap:operation soapAction="http://tempuri.org/GetSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamilies">
      <soap:operation soapAction="http://tempuri.org/GetFamilies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroups">
      <soap:operation soapAction="http://tempuri.org/GetAttributeGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttributes">
      <soap:operation soapAction="http://tempuri.org/GetAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoCompleteSoap12" type="tns:AutoCompleteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetOrderReceiptCommandResult">
      <soap12:operation soapAction="http://tempuri.org/SetOrderReceiptCommandResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderReceiptCommands">
      <soap12:operation soapAction="http://tempuri.org/GetOrderReceiptCommands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <soap12:operation soapAction="http://tempuri.org/GetInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttribute">
      <soap12:operation soapAction="http://tempuri.org/GetAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopProducers">
      <soap12:operation soapAction="http://tempuri.org/GetShopProducers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <soap12:operation soapAction="http://tempuri.org/GetCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShopCategory">
      <soap12:operation soapAction="http://tempuri.org/GetShopCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuppliers">
      <soap12:operation soapAction="http://tempuri.org/GetSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamilies">
      <soap12:operation soapAction="http://tempuri.org/GetFamilies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://tempuri.org/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroups">
      <soap12:operation soapAction="http://tempuri.org/GetAttributeGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttributes">
      <soap12:operation soapAction="http://tempuri.org/GetAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoComplete">
    <wsdl:port name="AutoCompleteSoap" binding="tns:AutoCompleteSoap">
      <soap:address location="http://localhost:55169/AutoComplete.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoCompleteSoap12" binding="tns:AutoCompleteSoap12">
      <soap12:address location="http://localhost:55169/AutoComplete.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>